<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
        <header>
        <nav>
            <ul>
                <li><a href="/admin">main page</a></li>
                <li><a href="/admin/getUsers">get users</a></li>
                <li><a href="/admin/getUserMessages">get users</a></li>
            </ul>
        </nav>
        </header>
    {{{body}}}
</body>
</html>