<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
        <header>
        <nav>
            <ul>
                <li><a href="/">main page</a></li>
                <li><a href="/searchBooks">Books</a></li>
                <li><a href="/user/favoritedBooks">favorited books</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/contact">contact </a></li>
                <li><a href="/">logout </a></li>
            </ul>
        </nav>
        </header>


    
    {{{body}}}
</body>
</html>