<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <style >
        .logout-link {
    cursor: pointer; 
  }
    </style>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
        <header>
        <nav>
            <ul class="navigators">
                <li><a href="/">main page</a></li>
                <li><a href="/user/favoritedBooks">favorited books</a></li>
                <li><a class="logout-link" >logout </a></li>
            </ul>
        </nav>
        </header>


    <script>
        const navigators = document.querySelectorAll('.navigators')
    navigators[0].children[2].addEventListener('click',function(){
    fetch('/removeToken',{
   method : 'get',
})
.then( _ => {
    window.location.href = "/"
})
})
    </script>
    {{{body}}}
</body>
</html>