<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/account.css">
</head>
<body>
    <form  method="patch" id="userInfosForm">
    <label for="name">name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="surname">surname:</label>
    <input type="text" id="surname" name="surname" required><br>

    <label for="username">username</label>
    <input type="text" id="username" name="username" disabled ><br>
    <p>if you are update password enter old one and new one </p>
    <p>if not want to update password keep blank them </p>
    <label for="oldPassword">old password:</label>
    <input type="password" id="oldPassword" name="oldPassword"><br>

    <label for="newPassword">new password:</label>
    <input type="password" id="newPassword" name="newPassword"><br>

    <label for="email">email address :</label>
    <input type="email" id="email" name="email" disabled ><br>

    <label for="phoneNumber">phone number :</label>
    <input type="text" id="phoneNumber" name="phoneNumber" required ><br>

    <input type="submit" value="update Infos" id="updateUserInfos">
</form>

<script src="./script/account.js"></script>
</body>
</html>