<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/userRegister.css">
</head>
<body>
    <form  method="post" id="registerForm" enctype="application/json" >
    <label for="name">name</label>
        <input type="text" id="name" name="name" required>
    <label for="surname">surname</label>
         <input type="text" id="surname" name="surname" required>
    <label for="username">username</label>
         <input type="text" id="username" name="username" required>    
    <label for="password">password</label>
         <input type="password" id="password" name="password" required>   
    <label for="email">email</label>
         <input type="text" id="email" name="email" required>    
    <label for="phoneNumber">phoneNumber</label>
         <input type="text" id="phoneNumber" name="phoneNumber">            
    
    <button type="submit">Register</button>
    
    </form>

     <p class="responseMessage"></p>
    {{message}}
    <script src="/script/userRegister.js"></script>
</body>
</html>