<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/searchBook.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <main>
 <div class="search-container">
            <input type="text" class="searchText" placeholder="book Name">
            <button class="searchButton" id="searchButton">Ara</button>
        </div>
</main>

     <div class="card-container">

     </div>

        
   <script src="/script/userFavoritedBooks.js"></script>
</body>
</html>