<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <form  method="post" id="contactInfos" enctype="application/json">
    <label for="nameAndSurname" > name and surname</label>
    <input type="text" id="nameAndSurname" name="nameAndSurname"> <br>
   
    <label for="contactAddress" > contact address(e-mail)</label>  
    <input type="text" id="contactAddress" name="contactAddress"><br>
   
    <label for="message" > message </label>     
    <textarea id="message" name="message">

    </textarea><br><br>
    <button type="submit"> send message</button>
    </form>





<script src="/script/contact.js"></script>
</body>
</html>