<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <form>
    <label for="name" > name and surname</label>
    <input type="text" id="name"> <br>
   
    <label for="contact" > contact address(e-mail or phone number)</label>  
    <input type="text" id="contact"><br>
   
    <label for="message" > message </label>     
    <textarea id="message">

    </textarea><br><br>
    <button type="submit"> send message</button>
    </form>





<script src="/script/contact.js"></script>
</body>
</html>