<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }
        section {
            padding: 20px;
            text-align: center;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .library-description {
            margin: 20px 0;
        }
        .footer {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }
    </style>

</head>
<body>
    <section>
        <h2>Kütüphaneyi Tanıtma</h2>
        <div class="library-description">
            <img src="./images/images.jpg" alt="Kütüphane Resmi">
            <p>Kütüphanemiz, geniş bir koleksiyon sunmaktadır. Hem klasik hem de çağdaş kitapları içeren zengin bir seçki bulunmaktadır.</p>
        </div>
    </section>
    <section>
        <h2>Yeni Kitaplar</h2>
        <p>Son eklenen kitaplar ile koleksiyonumuzu sürekli güncelliyoruz. Siz de yeni kitaplarımızı keşfedin!</p>
    </section>
    <div class="footer">
        <p>© 2023 Kütüphane Adı</p>
    </div>

</body>
</html>